# ZOMATO DATASET EXPLORATORY DATA ANALYSIS

## IMPORTING LIBRARIES

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## Accessing the data

In [ ]:
df = pd.read_csv("D:\\ZOMATO-DATASET-EXPLORATORY-DATA-ANALYSIS-main\\zomato.csv",encoding = 'latin-1')
df.head()

In [ ]:
df.columns

In [ ]:
df.info()

* here int64 basically means that for integer variable
* objects in pandas means strings and it can also be categorical variable or a text variable or may be integer variable

In [ ]:
df.describe()

The features which are taken inside the describe function are integer features

## IN DATA ANALYSIS THE THINGS WE KNOW
1. Missing Values
2. Explore about numerical variables
3. Explore about categorical variables
4. Finding relationship between features.

IN ORDER TO FIND MISSING VALUES WE DO

In [ ]:
df.isnull().sum()

In [ ]:
[features for features in df.columns if df[features].isnull().sum()>0]

## Checking null values

In [ ]:
plt.figure(figsize=(18,5),dpi=300) #dpi = dots per inch
sns.heatmap(df.isnull(),yticklabels=False,cbar=True,cmap='magma')

In [ ]:
df_country = pd.read_excel('D:\\ZOMATO-DATASET-EXPLORATORY-DATA-ANALYSIS-main\\Country-Code.xlsx')
df_country.head()

In [ ]:
df.columns

* COMBINING df_country ALONG WITH df WITH THIS COUNTRYCODE

In [ ]:
final_df = pd.merge(df,df_country,on='Country Code',how='left')
final_df.head(2)

In [ ]:
## TO CHECK DATA TYPES

final_df.dtypes

In [ ]:
final_df.columns

In [ ]:
country_names = final_df.Country.value_counts().index
country_names

In [ ]:
country_val=final_df.Country.value_counts().values
country_val

In [ ]:
## Pie Chart - Top 3 countries that uses zomato
plt.figure(figsize=(14,4),dpi=200)
plt.pie(country_val[:3],labels=country_names[:3],autopct='%1.2f%%');

## OBSERVATION

1. ZOMATO's MAXIMUM TRANSCATIONS ARE FROM INDIA , AFTER THAT U.S.A.

2. THE COMPANY IS GETTING MORE PROFIT FROM INDIA

3. MAJOR BUSINESS IS HAPPENING IN INDIA

In [ ]:
final_df.columns

In [ ]:
ratings=final_df.groupby(['Aggregate rating','Rating color','Rating text']).size().reset_index().rename(columns={0:'Rating Count'})

In [ ]:
ratings

## OBSERVATION

1. WHEN RATING IS BETWEEN FROM 4.5 TO 4.9 THE RATING WERE EXCELLENT

2. WHEN RATING IS BETWEEN FROM 4.0 TO 4.4 THE RATING WERE VERY GOOD

3.  WHEN RATING IS BETWEEN FROM 3.5 TO 3.9 THE RATING WERE  GOOD

4.  WHEN RATING IS BETWEEN FROM 2.5 TO 3.4 THE RATING WERE AVERAGE

5.  WHEN RATING IS BETWEEN FROM 1.8 TO 2.4 THE RATING WERE POOR

6.  WHEN RATING IS 0 IT MEANS PEOPLE HAS NOT GIVEN ANY RATING

In [ ]:
plt.figure(figsize=(14,7),dpi=300)
sns.set_style('whitegrid')
sns.barplot(x="Aggregate rating",y="Rating Count",data=ratings)

In [ ]:
plt.figure(figsize=(14,7),dpi=300)
sns.barplot(x="Aggregate rating",y="Rating Count",hue='Rating color',data=ratings,palette=['blue','red','orange','yellow','green','green'])
plt.legend(loc=1)

## OBSERVATION

1. NOT RATED COUNT IS VERY HIGH

2. MAXIMUM NUMBER OF RATINGS ARE BETWEEN 2.5 TO 3.4

In [ ]:
## COUNT PLOT
plt.figure(figsize=(14,7),dpi=300)
sns.countplot(x="Rating color",data=ratings,palette='Set2');

In [ ]:
## Correlation heatmap
plt.figure(figsize=(15,8),dpi=300)
sns.heatmap(df.corr(),fmt='g',annot=True)

In [ ]:
sns.pairplot(df)

In [ ]:
df.head(2)

In [ ]:
plt.figure(figsize=(14,7),dpi=300)
sns.violinplot(x=df['Price range'],y=df['Aggregate rating'],hue=df['Has Table booking'],palette='Set1',dodge=True);

## FIND THE COUNTRIES NAME THAT HAS GIVEN ZERO RATING

In [ ]:
final_df.groupby(["Aggregate rating","Country"]).size().reset_index().head(4)

In [ ]:
final_df[final_df["Aggregate rating"]==0].Country.value_counts()

## OBSERVATION

MAXIMUM NUMBER OF ZERO RATING ARE FROM INDIA

## FIND OUT WHICH CURRENCY IS USED BY WHICH COUNTRY

In [ ]:
final_df.columns

In [ ]:
final_df.groupby(["Country","Currency"]).size().reset_index()

## WHICH COUNTRIES DO HAVE ONLINE DELIEVERY OPTIONS

In [ ]:
final_df.columns

In [ ]:
final_df.groupby(["Country","Has Online delivery"]).size().reset_index()

In [ ]:
final_df[final_df['Has Online delivery']=='Yes'].Country.value_counts()

## OBSERVATIONS

1. ONLINE DELIVERIES ARE AVAILABLE IN INDIA AND UAE

## CREATE A PIE CHART FOR TOP 5 CITIES DISTRIBUTION

In [ ]:
final_df.columns

In [ ]:
city_values = final_df.City.value_counts().values
city_labels = final_df.City.value_counts().index

In [ ]:
plt.figure(figsize=(14,4),dpi=200)
plt.pie(city_values[:5],labels=city_labels[:5],autopct='%1.2f%%');

## FIND THE TOP 10 CUISINES

In [ ]:
cuisines_values = final_df.Cuisines.value_counts().values
cuisines_labels = final_df.Cuisines.value_counts().index

In [ ]:
plt.figure(figsize=(14,4),dpi=200)
plt.pie(cuisines_values[:10],labels=cuisines_labels[:10],autopct='%1.2f%%');

## OBSERVATION

> THE MOST DEMANDED CUISINES IS NORTH INDIAN.

> THE SECOND MOST DEMANDED CUISINES IS NORTH INDIAN,CHINESE.